body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#222;
    box-sizing: border-box;
}

.class-banner {
    background-color: white;
    width: 200px;
    height: 150px;
    border-radius:10px;
    position: relative;
    text-align:center;
}
.pin {
    position:absolute;
    top: -150px;
    left:45px;
    background-color:#fff;
}