body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#222;
    box-sizing: border-box;
}

.class-banner {
    background-color: white;
    width: 200px;
    height: 150px;
    border-radius:10px;
    position: relative;
    text-align:center;
}
.pin {
    position:absolute;
    top: -150px;
    left:45px;
    color:#fff;
}
.lines{
    position:relative;
    top:150px;
    background-color:#ACC;
}
.lines::before {
    content: '';
    display:block;
width:158px;
height:2px;
left:7%;
background: #ddd;
position: absolute;
top:-220px;
transform:rotate(120deg);
}

.lines::after {
    content: '';
    display:block;
width:158px;
height:2px;
right:13%;
background: #ddd;
position: absolute;
top:-220px;
transform:rotate(240deg);
}
.banner:Hover {
transform:rotate(-10deg);
}
.banner img{
    width:80px;
    position:absolute;
    right:-35px;
    top:-50px;
    transform:rotate(30deg);
}
h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.closed h1{
    background-color: #ccc;
    width: 300px;
    padding:5px 0;
    margin-bottom: 18px;
    font-family: 'Times New Roman', Times, serif;
}